@charset "utf-8";
@import "_variables";
@import "_helpers";

html {
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $color-text;
}

.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s
  }

  &-enter,
  &-leave-active {
    opacity: 0
  }
}
